{{ template "default" . }}
{{ define "title" }}{{ .Email }}{{ end }}
{{ define "head" }}{{ end }}

{{ define "content"}}
    <div class="center-containers" style="">
        <form method="get" action="/user/{{ .Email }}/password">
        <div class="card password-card">
            <div class="line">
                <h3>👋 {{ .Email }}</h3>
            </div>

            <div class="line">
                <button aria-label="new password" id="new-password" class="big-button blue-button" type="submit">
                    <i data-feather="key"></i>
                </button>
            </div>
        </div>
        </form>

        {{ if .ShowUserListLink  }}
        <div class="card">
            <form method="get" action="/user/">
                <div class="line">
                <button aria-label="back" id="back-button" class="big-button dark-button" type="submit">
                    <i data-feather="chevrons-left"></i>
                </button>
            </div>
            </form>
        </div>
        {{ end }}
    </div>
{{ end }}